html, body {
    margin:0;
    padding:0;
    overflow-x: hidden;
    background-color: #F5F5F5;
    --yellow-color: rgba(212,154,55,1);
    font-family: 'Heebo', sans-serif !important;
}

header, #portfolio{
    -webkit-box-shadow: 0px 14px 12px -8px var(--yellow-color);
    -moz-box-shadow: 0px 14px 12px -8px var(--yellow-color);
    box-shadow: 0px 14px 12px -8px var(--yellow-color);
}

/* Navbar and title page */

header{
    background-color: black;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
    height: 100vh;    
}
.navbar-brand{
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 4px;
}
.nav-item{
    padding: 0 2rem;
}

@media(min-width: 1024px){
    .nav-item:nth-child(-n+2){
    border-right: 1px solid white;
}

}

@media(max-width: 1023px){
    .navbar{
        border-bottom: 1px solid var(--yellow-color);
    }
}

@media screen and (min-height: 1200px){
    header{
        height: 50vh;
    }
}


.nav-link{
    font-size: 1.5rem;
}

.title{
    padding: 3% 15% 5%;
}

.profile-pic{
    width: 100%;
    left: 20%;
    transform: rotate(-10deg);
}

h1{
    color: rgb(250, 250, 250);
    font-weight: 700;
    font-size: 3rem !important;
}

h1 > span{
    border-bottom: 3px solid var(--yellow-color);
}

@media screen and (max-width: 1023px){
    .profile-pic{
        transform: none;
        width: 100%;
    }
    
}

@media screen and (max-width: 768px){
    h1{
        font-size: 2rem !important;
        width: 100%;
        margin: 4rem 0 !important;
    }
    .profile-pic{
        transform: rotate(90deg);
    }
}

@media screen and(max-width: 500px){
    h1{
        letter-spacing: 0;
        font-size: 1rem !important;
    }
}

/* About section  */

#about{
    position:relative;
    margin: 3% 0;
    height: 60vh;
}

.row{
    text-align: center;
    align-content: center;
}

.about-image{
    width: 50%;
    height: auto;
    border-radius: 100%;
    cursor: pointer;
}

#about .about-image:hover{
    box-shadow: 0px 0px 3rem var(--yellow-color);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#about .container{
    padding: 5% 0;
}

h2{
    text-align: center;
    margin: 2rem !important;
    font-size: 2rem !important;

}

@media(max-width: 1000px){
    #about{
        height: 100vh;
    }
    .about-image{
        width: 30%;
        margin: 2% 0;
    }
}

@media(max-width: 774px){
    #about{
        height: 100vh;
    }
    .about-image{
        width: 30%;
        margin: 2% 0;
    }
}

@media(max-width: 500px){
    .about-image{
        width: 40%;
    }
}

@media screen and (min-height: 1200px){
    #about{
        height: 40vh;
    }
}

@media(max-height: 600px){
    .about-image{
        width: 30%;
    }
}

/* Portfolio section with bootstrap carousel */

#portfolio{
    background-color: black;
    height: 70vh;
    border-radius: 3%;
}

h3{
    color: white;
    text-align: center;
    padding: 1% 0;
    font-size: 2rem !important;
}

.carousel-item{
    padding: 0 15% 2%;
}

.portfolio-picture{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    
    #portfolio{
        height: 70vh;
        padding-bottom: 2%;
    }
    .carousel-item{
        padding: 5% 2%
    }

    .portfolio-picture{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    #portfolio{
        height: 45vh;
    }
}

/* Contact me section */

#contact{
    height:70vh;
}

h4{
    text-align: center;
    padding: 4% 0 6%;
    font-size: 2rem !important;
    line-height: 1.2;
}

/* Rewrite  !!!*/

#contact .row{
    height: 60vh;
    align-items: center;
}

form{
    width: 80%;
    margin: 0 auto !important;
}

.form-group textarea{
    height: 150px !important;
}

.form-group button{
    width: 50%;
    margin: 0 auto !important;
}

.map-responsive{
    overflow: hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left: 10%;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
    border: 1px solid var(--yellow-color);
}

@media screen and (max-width: 1023px){

    #contact{
        height: 100vh;
        padding: 10% 0 0;
    }
    form{
        width: 80%;
    }
}

@media screen and (max-width: 767px){

    h4{
        padding: 10% 0 20%;
    }

}

@media screen and (max-width: 400px){

    h4{
        padding: 10% 0 25%;
    }

}

@media screen and (min-height: 1200px){
    #contact{
        height: 40vh;
    }
    h4{
        padding-bottom: 0;
    }
    #contact .row{
        height: 40vh;
        align-items: center;
    }
    
}

/* Footer */

footer{
    position: relative;
    background-color: black;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    height: 20%;
}

.footer-huyuter-icons{
    display:flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
    padding: 2% 0;
}

@media(max-width:800px){
    .footer-huyuter-icons{
        width: 50%;
        justify-content: space-around;
    }
}

.footer-huyuter-icon img{
    padding-left: 1%;
    padding-right: 1%;
    width: 35px;
    opacity: 0.5;
}

.footer-huyuter-icon img:hover{
    opacity: 0.8;
}

@media(max-width: 800px){
    .footer-huyuter-icon img{
        width: 40px;
    }
}

footer p{
    text-align: center;
    padding-top: 1.2%;
    color: #414040;
}
